
<h1>hi</h1>

<div>

<form action="/profile/list-my-properties/edit/{{editedProperty._id}}" method="POST" enctype="multipart/form-data">



<label for="">Name</label>
<input type="text" name="name" id="" value="{{editedProperty.name}}">

<label for="">Address</label>
<input type="text" name="address" id="" value="{{editedProperty.address}}">

<label for="">Type</label>
<input type="text" name="type" value="{{editedProperty.type}}">

<label for="">description</label>
<input type="text" name="description" value="{{editedProperty.description}}">

<label for="">Amenties</label>
<input type="text" name="amenties" value="{{editedProperty.amenties}}">

<label for="">Rating</label>
<input type="text" name="rating" value="{{editedProperty.rating}}">


<label for="">price</label>
<input type="text" name="price" value="{{editedProperty.price}}">

<label for="">rent Length</label>
<input type="text" name="rentLength" value="{{editedProperty.rentLength}}">


<label for="">Image</label>
<input type="file" name="image">

<label for="">Average number of guests</label>
<input type="text" name="avgNumOfGuests" value="{{editedProperty.avgNumOfGuests}}">

<button>Submit</button>

</form>

</div>


