<div class="add-new-property add-some-padding">

<form action="/profile/list-my-properties/edit/{{editedProperty._id}}" method="POST" enctype="multipart/form-data">

<input type="text" name="name" id="" value="{{editedProperty.name}}">
<input type="text" name="address" id="" value="{{editedProperty.address}}">
<input type="text" name="type" value="{{editedProperty.type}}">
<input type="text" name="description" value="{{editedProperty.description}}">
<input type="text" name="amenties" value="{{editedProperty.amenties}}">
<input type="text" name="price" value="{{editedProperty.price}}">
<input type="text" name="rentLength" value="{{editedProperty.rentLength}}">
<input type="file" name="image">
<input type="text" name="avgNumOfGuests" value="{{editedProperty.avgNumOfGuests}}">
<button>Submit</button>
</form>


</div>

