<h2>hey there, this is information about your profile.</h2>

<p>First name: {{theUser.firstName}}</p>
<p>Last name:{{theUser.lastName}}</p>
<p>Your email: {{theUser.email}}</p>

{{#if theUser.bio}}
<p>{{theUser.bio}}</p>
{{/if}}

<h2>Here what else you could add to your profile</h2>
<form action="/profile/edit" method="POST" enctype="multipart/form-data">

<label for="">Phone number</label>
<input type="text" name="phoneNumber" id="" value="{{theUser.phoneNumber}}">
<br>


<label for="">Bio</label>
<textarea name="bio" id="" cols="20" rows="6">{{theUser.bio}}</textarea>

<br>
<br>
<br>
<label for="">Your avatar</label>
<input type="file" name="the-picture" id="" value="">
<br>

<button>Submit</button>

</form>
