

<h1>hello</h1>


{{#if allProperties}}
<h2>Info about  your properties </h2>


{{#each  allProperties}}




<p>{{this.name}}</p>
<p>{{this.price}}</p>
<p>{{this.description}}</p>
<img src="{{this.image}}" class="profile-avatar" alt="">


<form action="/profile/list-my-properties/edit/{{this._id}}" method="GET">
<button>Edit this property</button>
</form>


<form action="/profile/list-my-properties/{{this._id}}/delete" method="POST">
<button>Delete this property</button>
</form>
{{/each}}

{{else}}
<h1>there are no preperties, sorry</h1>
{{/if}}
