

{{#if theUser}}

<section class="profile-page">


  <div class="profile-info">
    <div class = "contact-info-in-profile">
      <div>
       <h2>{{theUser.firstName}} {{theUser.lastName}}</h2>
       <img src="{{theUser.avatar}}"  class="profile-avatar" alt="">
      </div>
      <div>
       <h2>✉ {{theUser.email}}</h2>
       <h2>✆ {{theUser.phoneNumber}}</h2>
      </div>

    </div>
    <div class="lower-profile-section">
    <div class="links">
      <a href="/profile/edit">edit profile</a>
      <a href="/profile/list-my-properties">My listed properties</a>
      <a href="/profile/all-reviews">My reviews</a>
      <a href="/profile/list-my-rented-properties">My rented properties</a>
    </div>
   <div class="bio">
    {{theUser.bio}}
   </div>

    

    {{else}}
    <h1>You need to be logged in first to see that page <a href="/login">Log in</a> </h1>
    {{/if}}
    </div>
  </div>
</section>
