


{{#if theUser}}
<h1>Hi</h1>
<h2>{{theUser.firstName}}</h2>

<h2>{{theUser.email}}</h2>
<h2>{{theUser.phoneNumber}}</h2>

<img src="{{theUser.avatar}}"  class="profile-avatar" alt="">



<p>{{theUser.bio}}</p>


<p>If you would like to change/add info to your profile click on this link below</p>
<p><a href="/profile/edit">edit my profile</a></p>


<p>Check out your listed properties</p>
<a href="/profile/list-my-properties">Here</a>


<p>Check your your rented properties</p>
<a href="/profile/list-my-rented-properties">Here</a>

{{else}}
<h1>You need to be logged in first to see that page <a href="/login">Log in</a> </h1>
{{/if}}