
<div class="main-dev-for-list">

{{#if findedUser.propertiesRented}}


{{#each findedUser.propertiesRented}}
<div class="each-property">
<p>
  {{this.name }}
</p>
<p>
  {{this.price}}
  </p>
<p>
  {{this.description}}
  </p>

<img src="{{this.image}}" class="profile-avatar" alt="">  <br> <br> <br>

<a href="/profile/list-my-rented-properties/{{this._id}}/add-review">Add review</a>

<br>
<br>  
</div>
{{/each}}

{{else}}
<h4>Hey, {{findedUser.firstName}}, looks like you haven't rent anything yet</h4>
{{/if}}

</div>