

<div class="main-dev-for-list">






{{#each properties}}
<div class="each-property">


<p>{{this.name}} </p>

<p>Owned by {{this.owner.firstName}} {{this.owner.lastName}} </p>
<p> <span class="cell-or-email">✆</span>  {{this.owner.phoneNumber}}    <span class="cell-or-email">✉ </span>{{this.owner.email}}</p>

<img src="{{this.image}}" alt="" class = "profile-avatar">


<a href="/properties/{{this._id}}">See details and reviews</a>

{{#if this.show}}

<a href="/properties/rent/{{this._id}}">Rent this</a>
{{/if}}
</div>
{{/each}}





</div>
