




<div class="rent-submit-page">
<p>{{findedProperty.Name}}</p>

<p>{{findedProperty.description}}</p>
<img src="{{findedProperty.image}}" class ="profile-avatar" alt="">
<p>Price per month: {{findedProperty.price}}</p>



<form action="/properties/rent/{{findedProperty._id}}/submit" method="POST">

<p>if your are sure about renting that click this <button>Submit</button></p>


</form>
</div>