

{{!-- Property --}}
<div class="single-property-view">

  <div class="image-for-singles">

    <img src="{{findedProperty.image}}" class="" alt="">

  </div>


  <div class="info-for-single-view-property">
    <p>{{findedProperty.name}}, {{findedProperty.description}}</p>
    <p>Avg number of guests: {{findedProperty.avgNumOfGuests}}</p>

    {{#if propertyRating}}
      <p> Avg Rating:{{propertyRating}}</p>
    {{/if}}
  </div>
</div>


 <div id="main-div-for-reviews">
  
    {{#each findedProperty.reviews}}
    <div class="each-review">
    <p>Review: {{this.review}}</p>
    <p>Submitted By: {{this.author.firstName}}
    </p>
    <p>Rating: {{this.rating}}</p>
    </div>
    {{/each}}
</div>




